# Compound Data Types

Our purpose here is to discuss the basic properties of compound data types in Python. In Python, it is helpful to consider what is "built-in" and what must be imported using an `import` statement. It is commonly accepted that Python's place in the contemporary scientific computing space is due in large part to `numpy` and its associated libraries -- the Python Numerical Stack -- all of which are not part of "pure" Python and must be imported. For the moment, however, let us set these aside and consider only that which is "built-in".

Note: throughout we will make use of the `assert` statement. `assert` statements are written using the form 

```
assert expression
```

or

```
assert expression, message
```

If `expression` evaluates to `True`, `assert` will do nothing.

In [1]:
assert True

If `expression` evaluates to false, `assert` will raise an `AssertionError` with `message`. Where we expect that to happen, it is best to "catch" this `AssertionError` and its associated error message using a `try-except` clause.

In [2]:
try:
    assert False, "This is False!"
except AssertionError as error_message:
    print(error_message)

This is False!

## The Set

We might think of the `set` as the simplest **compound** datatype in Python. By compound we mean a single object that contains many values. In Python, a `set` is a single object containing many *unique* values.

In [13]:
type(set)

type

Mathematically speaking, a set is a collection of distinct (unique) object. This is essentially a statement of the two basic properties of a `set`: 

1. a `set` is composed of elements
1. these elements are unique

In [14]:
A = {a, b, 2.4, c}

Thus, the following boolean expression is `True`

In [15]:
assert 1 in A

### Cardinality

The number of members of a `set` is called its **cardinality**. Note that in defining the `set A` we listed four values, `a`, `b`, `2.4`, and `c`. But the cardinality of `A` is 3.

In [16]:
len(A)

3

Recall that `b` has the value `2.4`.

In [17]:
b

2.4

Thus, in displaying the contents of the set `A`, we note that the repeated value `2.4` (which is also the value associated with `b`) is included but once. An element can only be a member of a set once.

In [18]:
A

{(3+3j), 1, 2.4}

## Building Sets

Mathematically, we can build a set in three ways:

1. By explicitly listing its members. 

   To indicate that a collection is a set, we use curly braces, so that the set of the numbers 1, 3, and 5 is written

   $$\{1, 3, 5\}$$
   
2. By giving a property that the members have. An example is “the set of odd positive numbers less than 100”. We could express that phrase as

   $$\{ n │ 0 < n < 100 \text{ and }n\text{ is odd }\}$$

   Here the vertical bar “│” is read as “such that”.

   The property selects members from some larger “base” set. That set may be given explicitly as part of the definition:

   $$\{ n │ n\text{ is an integer and }0 < n < 100\text{ and }n\text{ is odd} \}$$

   Or the base set may be left implicit; it may be defined by context, or we may be meant to assume that it is the universal set.

3. By forming the set from other sets using operators, like the union, intersection, and difference operators.

### The Roster Method

When we can define a set by enumerating or listing its elements, this is called **roster method**.

For example, we might have the set containing the numbers 4, 15, 21, and 37. Mathematically, we would describe this as 

$$\{15, 4, 37, 21\}$$

It is worth noting that we have written the numbers in a different order here. This is fine because sets do not have an inherent order.

In [3]:
B = {15, 4, 37, 21}

We can show that this is true in Python

In [4]:
assert {4,15,21,37} == B

### Set-Builder Notation

When we build a set in this way

$$\{ n │ 0 < n < 10 \text{ and }n\text{ is odd }\}$$

this is known as building a set with **Set-builder notation**. Set-builder notation is a notation used for describing a set by enumerating its elements or stating the properties that its members must satisfy.

In [2]:
{n for n in range(10) if n%2 == 1}

{1, 3, 5, 7, 9}

### Defining Sets by Operator

We can also expand the definition of a set by using operators like unions.

Suppose we have 

$$B = \{15, 4, 37, 21\}$$

we might define a new set 

$$C = \{15, 4, 37, 21\}\cup\{12\}$$

In Python we might do the following

In [5]:
C = B.union({12})
C

{4, 12, 15, 21, 37}

### Connecting Unions to Set-Builder Notation

We might also imagine doing this programmatically, iterating over another set

In [5]:
B = {15, 4, 37, 21}
for el in {12,25,39}:
    B = B.union({el})
B

{4, 12, 15, 21, 25, 37, 39}

This becomes more interesting when have a clear pattern for the set over which we are iterating. Suppose we have the set 

$$D = \{1,2,3,4,5,6,7,8,9,10\}$$

and we are interested in using this set to build a new set 

$$E = \{3,5,7,9,11,13,15,17,19,21\}$$

In [14]:
D = {1,2,3,4,5,6,7,8,9,10}
E = set()
for el in my_set:
    E = E.union({2*el+1})
E

{3, 5, 7, 9, 11, 13, 15, 17, 19, 21}

Here, we took note of the pattern that existed between the two sets, namely that for each element, $x$ in the first set, the second set contains the corresponding value for $2x+1$.

Mathematically, rather than listing the roster of $D$, we can define the new set by a predicate. We can define $E$ as

$$E = \{2x+1 \mid x \in D \}$$

Which can be read as $E$ is the set containing the elements $2x+1$ where $x$ is each element in the set $D$.

In Python, we have a similar method for defining well-structured sets. We did so above using a `for`-loop. We can also do this using a **set comprehension**.

In [16]:
D = {1,2,3,4,5,6,7,8,9,10}
E = {2*x+1 for x in D}
E

{3, 5, 7, 9, 11, 13, 15, 17, 19, 21}

Make note of how the set comprehension syntax mirrors describing a set via predicate in math notation.

## Case Study: finding students for jobs

Suppose that a company is recruiting students at a university to give them jobs after they graduate, and suppose that the company wants to interview fourth-year students who are either computer science or electrical engineering students and who have a grade average of B or better.

Let's also suppose that the university has data files that will help us find such students. The file `cs` contains the names of all the computer science students, and the file `ee` contains the names of all the electrical engineering students. The file `year4` contains the names of all the students who are in their fourth year of study, and the file `goodGrades` contains the names of all the students with a grade average of B or better.

Let's see how we can find the names of all the appropriate students. This is a very easy programming problem, but let's try to find the very best solution that we can. We'll start by showing how a beginning programmer might approach the problem, and then show how the solution changes as we apply progressively more of the ideas that we have seen so far in this book.

Very early in their programming careers, beginners learn a stereotyped structure for a program:

1. Read all the inputs.
2. Do the computation.
3. Display the results.

<!-- 
import random
names = ["THOMAS","REBECCA","JAMES","LAUREN","JACK","JESSICA","DANIEL","CHARLOTTE","MATTHEW","HANNAH","RYAN","SOPHIE","JOSHUA","AMY","LUKE","EMILY","SAMUEL","LAURA","JORDAN","EMMA","ADAM","CHLOE","MICHAEL","SARAH","ALEXANDER","LUCY","CHRISTOPHER","KATIE","BENJAMIN","BETHANY","JOSEPH","JADE","LIAM","MEGAN","JAKE","ALICE","WILLIAM","RACHEL","ANDREW","SAMANTHA","GEORGE","DANIELLE","LEWIS","HOLLY","OLIVER","ABIGAIL","DAVID","OLIVIA","ROBERT","STEPHANIE","JAMIE","ELIZABETH","NATHAN","VICTORIA","CONNOR","NATASHA","JONATHAN","GEORGIA","HARRY","ZOE","CALLUM","NATALIE","AARON","ELEANOR","ASHLEY","SHANNON","BRADLEY","PAIGE","JACOB","GEORGINA","KIERAN","GEMMA","SCOTT","NICOLE","SAM","CHELSEA","JOHN","KIRSTY","BEN","ALEXANDRA","MOHAMMED","MELISSA","NICHOLAS","JENNIFER","KYLE","HAYLEY","CHARLES","LOUISE","MARK","KATHERINE","SEAN","JODIE","EDWARD","GRACE","STEPHEN","ANNA","RICHARD","MOLLY","ALEX","AMBER","PETER","JASMINE","DOMINIC","KAYLEIGH","JOE","KELLY","REECE","HARRIET","LEE","ASHLEIGH","RHYS","CATHERINE","STEVEN","LEAH","ANTHONY","NICOLA","CHARLIE","FRANCESCA","PAUL","NAOMI","CRAIG","KATE","JASON","ABBIE","DALE","CLAIRE","ROSS","LEANNE","CAMERON","RACHAEL","LOUIS","ROSIE","DEAN","AIMEE","CONOR","ELLIE","SHANE","SIAN","ELLIOT","KIMBERLEY","PATRICK","LYDIA","MAX","HOLLIE","SHAUN","STACEY","HENRY","BETHAN","SIMON","AMELIA","TIMOTHY","BETH","MITCHELL","KATHRYN","BILLY","HEATHER","PHILIP","LISA","JOEL","HELEN","JOSH","ELLA","MARCUS","ROBYN","DYLAN","CHANTELLE","CARL","ELLEN","ELLIOTT","DAISY","BRANDON","DEMI","MARTIN","COURTNEY","TOBY","GABRIELLE","STUART","YASMIN","GARETH","LILY","DANNY","RHIANNON","CHRISTIAN","MARIA","TOM","KERRY","DECLAN","IMOGEN","KARL","REBEKAH","MOHAMMAD","JORDAN","MATHEW","JOANNA","JAY","CAITLIN","OWEN","JEMMA","DARREN","TONI"]

year4 = random.sample(names, 45)
cs = random.sample(names, 85)
ee = random.sample(set(names) - set(cs), 45)
goodGrades = random.sample(names, 135)
with open('year4.txt', 'a') as the_file:
    for name in year4:
        the_file.write('{}\n'.format(name))
with open('cs.txt', 'a') as the_file:
    for name in cs:
        the_file.write('{}\n'.format(name))
with open('ee.txt', 'a') as the_file:
    for name in ee:
        the_file.write('{}\n'.format(name))
with open('goodGrades.txt', 'a') as the_file:
    for name in goodGrades:
        the_file.write('{}\n'.format(name))
-->

### Read the Inputs

So let's first consider the task of reading all the inputs. Let's use a for-loop.

In [17]:
with open('year4.txt', 'r') as the_file:
    year4 = [ ]
    for line in the_file:
        year4.append(line.strip())
year4[:5]

['LEANNE', 'DAVID', 'DANNY', 'AARON', 'BRADLEY']

We don't need to do all that. This kind of computation is exactly what a list comprehension is meant for.

In [19]:
year4      = [ line.strip() for line in open("year4.txt") ]
cs         = [ line.strip() for line in open("cs.txt") ]
ee         = [ line.strip() for line in open("ee.txt") ]
goodGrades = [ line.strip() for line in open("goodGrades.txt") ]
ee[:5]

['SHANE', 'CONOR', 'HELEN', 'NICOLE', 'CALLUM']

### Do the Computation

Now that we have all the data in data structures in the program, we can proceed with the main computation. The statement of our problem asks us to find 

> “fourth-year students who are either computer science or electrical engineering students and who have a grade average of B or better”. 

Here is one obvious way to translate that requirement into Python:

In [20]:
candidates = [ ]
for student in year4:
    if ((student in cs or student in ee) 
         and student in goodGrades):
        candidates.append(student)
candidates

['JASMINE',
 'CALLUM',
 'DALE',
 'SHAUN',
 'KAYLEIGH',
 'REECE',
 'SHANNON',
 'CLAIRE',
 'ASHLEY',
 'RACHAEL',
 'BEN',
 'ELLIE',
 'HARRY',
 'ALEX',
 'JENNIFER',
 'DOMINIC',
 'SHAUN',
 'DALE',
 'MARTIN',
 'SHANE',
 'AIMEE',
 'CHANTELLE',
 'GEORGE',
 'PETER',
 'JAKE',
 'LAURA',
 'ELIZABETH']

We can do the same computation more efficiently using sets. 

The computation does most of its work with the in operator, which Python can do more efficiently on sets than on lists. We'll need to change our code that reads input so that it creates sets instead of lists.

In [23]:
year4      = { line.strip() for line in open("year4.txt") }
cs         = { line.strip() for line in open("cs.txt") }
ee         = { line.strip() for line in open("ee.txt") }
goodGrades = { line.strip() for line in open("goodGrades.txt") }
type(ee)

set

In [24]:
candidates = set()
for student in year4:
    if ((student in cs or student in ee) 
         and student in goodGrades):
        candidates.add(student)
candidates

{'AIMEE',
 'ALEX',
 'ASHLEY',
 'BEN',
 'CALLUM',
 'CHANTELLE',
 'CLAIRE',
 'DALE',
 'DOMINIC',
 'ELIZABETH',
 'ELLIE',
 'GEORGE',
 'HARRY',
 'JAKE',
 'JASMINE',
 'JENNIFER',
 'KAYLEIGH',
 'LAURA',
 'MARTIN',
 'PETER',
 'RACHAEL',
 'REECE',
 'SHANE',
 'SHANNON',
 'SHAUN'}

We don't need to do all that. We don't need to initialize a data structure and then add values to it one at a time: we can use a comprehension.

In [26]:
candidates = { student for student in year4
               if (student in cs or student in ee) 
               and student in goodGrades }
candidates

{'AIMEE',
 'ALEX',
 'ASHLEY',
 'BEN',
 'CALLUM',
 'CHANTELLE',
 'CLAIRE',
 'DALE',
 'DOMINIC',
 'ELIZABETH',
 'ELLIE',
 'GEORGE',
 'HARRY',
 'JAKE',
 'JASMINE',
 'JENNIFER',
 'KAYLEIGH',
 'LAURA',
 'MARTIN',
 'PETER',
 'RACHAEL',
 'REECE',
 'SHANE',
 'SHANNON',
 'SHAUN'}

In [ ]:
we don't even need to do all that. Now that we have all our names in sets, why not just use set operations instead?